// NavBar
.navbar-brand {
  display: flex;
  gap: 1rem;
  color: whitesmoke;
  align-items: center;
  img {
    width: 5rem;
    height: 5rem;
  }
  span {
    font-size: 2.5rem;
  }
}

nav {
  padding: 1rem;
  background-color: rgb(33, 31, 54);
  color: whitesmoke;
  font-size: 2rem;

  display: flex;

  .Logo {
    display: flex;
    gap: 1rem;
    color: whitesmoke;
  }

  ul {
    font-size: 1.5rem;
    margin-left: auto;
    display: flex;
    gap: 2rem;
    align-items: center;
    a {
      color: whitesmoke;
    }
  }
}

//App
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  margin: 4rem;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-saturation infinite 1.5s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-saturation {
  0% {
    filter: saturate(0%);
  }
  50% {
    filter: saturate(100%);
  }
  100% {
    filter: saturate(0%);
  }
}

//ItemListContainer
.ItemListContainer {
  padding-top: 2rem;
  font-size: 2rem;
}
